@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

#main {
  height: 100% !important;
}

h1 {
  cursor: pointer;
  font-size: 100px;
}

#left {
  border: solid white 4px;
  border-left: none;
  border-bottom: none;
  border-top: none;
}

li {
  cursor: pointer;
}

#settings-icon {
  cursor: pointer;
}

#settings-box {
  height: 70%;
  display: flex;
  flex-direction: column;
}

#full-name {
  color: white !important;
}

.random-buttons {
  display: block;
  margin: 0% auto;
  margin-top: 3%;
}