@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

#main {
  height: 1050px !important;
}

#logo {
  font-size: 300%;
  font-weight: bold;
}

#left {
  border: solid white 4px;
  border-left: none;
  border-bottom: none;
  border-top: none;
}