@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin-top: 100px !important;
}

#main {
  height: 100% !important;
}

h1 {
  font-size: 100px;
}

#logo {
  cursor: pointer;
}

#cart {
  text-decoration: none;
}

/* #cart-num {
  background-color: rgba(255, 255, 255, 0.979);
  color: black;
  border-radius: 50%;
  padding: 1px;
  font-weight: bold;
  text-align: center;
} */

#cart:hover {
  opacity: .7;
}

#left {
  border: solid white 4px;
  border-left: none;
  border-bottom: none;
  border-top: none;
}

.rand-right {
  height: 1013px;
}

li {
  cursor: pointer;
}

/* #navlist {
  position: fixed;
} */

li:hover {
  opacity: .7;
}

#settings-icon {
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

#settings-icon:hover {
  transform: rotate(320deg);
}

#settings-box {
  height: 70%;
  display: flex;
  flex-direction: column;
}

#full-name {
  color: white !important;
}

.random-buttons {
  display: block;
  margin: 0% auto;
  margin-top: 3%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.album,
#genre {
  margin: 0% auto;
  padding: 10px;
  text-align: center;
}

#genre {
  margin-bottom: 20px;
}

.album img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.album p {
  margin-top: 10px;
  font-size: 14px;
}

#app img {
  width: 400px;
  height: 400px;
}

.animate {
  position: relative;
  bottom: 10px;
  /* transition: ease-in-out; */
}

#app p {
  font-weight: 600;
  font-size: 25px;
}

#quest {
  font-weight: bolder;
  width: 100%;
}

#cover:hover {
  transform: translateY(-10px);
}

#cover {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  border-radius: 7px;
}

.tribe {
  font-size: 80%;
}

footer {
  margin-top: 100px;
  background-color: rgb(20, 20, 20);
}

.fa {
  /* padding: 20px; */
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}